body {
  font-size: 10px;
}
.wonder , .dance, .funny {
  width: 90%;
  height: 170px;
  margin-bottom: 10px;
  margin-left: 6%;
}
.more2 {
  margin-top: 80%;
}
.clock {
  opacity: 0;
}
.p1 {
  margin-left: 25%;
}
.weather {
  margin-left: 20%;
}
.box2 {
  margin-right: 30%;
}
.date {
  height: 0;
  width: 0;
  font-size: 0px;
  margin: 0;
	opacity: 0;
}
.clock {
  margin-top: 10px;
  font-size: 10px;
  opacity: 100;
}
